.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        color: #fabd61;
        font-size: 2rem;
    }

    button {
        margin-top: 50px;
        border: none;
        background-color: #2b58ff;
        box-shadow: 0 0 0 0 rgba(43, 88, 255, 0.2);
        border-radius: 42px;
        width: 300px;
        height: 100px;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        transition: 0.3s ease-in-out all;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0px 14px 54px 20px rgba(43, 88, 255, 0.2);
        }

        &:active {
            box-shadow: 0 0 0 0 rgba(43, 88, 255, 0.2);
            transform: scale(0.9);
            transition: 0.1s ease-in-out all;
        }
    }
}

video {
    width: 45%;

}
